n8n/workflows/receber-mensagem.json
{
  "name": "AgendaIA - Receber Mensagem WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "1",
      "name": "Webhook WuzAPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2",
      "name": "OpenAI / Claude",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://wuzapi:8080/message/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{$json.from}}@c.us"
            },
            {
              "name": "text",
              "value": "={{$node[\"OpenAI / Claude\"].json.mensagem}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook WuzAPI": {
      "main": [
        [
          {
            "node": "OpenAI / Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI / Claude": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
